.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# copyrighted files
original/Drawful2/content/en/Drawful2Prompt.jet
original/Drawful2/content/en/Drawful2Prompt
output/extract